[submodule "www/scripts/jwysiwyg"]
	path = www/scripts/jwysiwyg
	url = https://github.com/akzhan/jwysiwyg.git
[submodule "www/scripts/boxy"]
	path = www/scripts/boxy
	url = git@github.com:jaz303/boxy.git
[submodule "scripts/autoResize"]
	path = scripts/autoResize
	url = https://github.com/padolsey/jQuery.fn.autoResize.git
[submodule "scripts/tinymce"]
	path = scripts/tinymce
	url = https://github.com/tinymce/tinymce.git
