@charset "UTF-8";

/*
 *  Admin Panel Main Stylesheet (May 2011)
 *  Crafted with passion by http://lamberski.com
 *
 *  1 Global
 *    1.1 Reset
 *    1.2 Basic
 *    1.3 Universal
 *  2 Layout
 *    2.1 Header
 *    2.2 Content
 *      2.2.1 Listing
 *      2.2.2 Form
 *    2.3 Footer
 */

/*
 *  1 Global
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*
 *  1.1 Reset (based on Reset v2.0 by Eric Meyer)
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Button reset (based on http://snipplr.com/view/23417/reset-button-tag/) */

button,
input[type="submit"] {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
}

button.action-button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 *  1.2 Basic
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
  font-family: "Lucida Grande", Tahoma, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 1.1;
}

a {
  text-decoration: none;
  outline-width: 3px;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Inputs */

input[type=password],
input[type=text],
input[type=email],
input[type=url],
input[type=number],
textarea {
  font-size: 12px;
  padding: 5px 3px;
  outline-width: 3px;
  line-height: 1.4;
  border: 1px solid #bbb;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .1);
}

/*
 *  1.3 Universal (single groups and structures used in layout)
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.outline {
  display: none;
}

.accessibility {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/*  Messages
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.message {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .03);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .03);
  -webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, .03);
  border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 13px;
  line-height: 1.4;
  padding: 15px 20px;
  background: #f1f1f1;
  color: #666;
}

.message.notice {
  text-align: center;
}

.message p,
.message ul {
  margin-top: 7px;
}

.message ul {
  margin-left: 25px;
  list-style: disc;
}

.message p:first-child {
  font-size: 13px;
  margin-top: 0;
}

/* Success */

.message.success {
  background-color: #e7f0e2;
  color: #617654;
}

/* Error */

.message.error {
  background-color: #f7e8e6;
  color: #a65a50;
}

/* Info */

.message.info {
  background-color: #e2f0f7;
  color: #53768b;
}

/* Warning */

.message.warning {
  background-color: #f7f7cc;
  color: #7c7054;
}

/*  Content buttons (and selected filter tabs)
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.boxy-wrapper .answers [type="button"],
#content .filters .selected a,
#content .button {
  line-height: 26px;
  font-size: 11px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #bbb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: #eee;
  color: #555 !important;
  padding: 0 10px;
  margin-left: 0px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fafafa, endColorstr=#dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
  background: -moz-linear-gradient(top,  #fafafa,  #ddd);
}

.boxy-wrapper .answers [type="button"]:hover,
#content .filters .selected a:hover,
#content .button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f7f7, endColorstr=#d2d2d2);
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d2d2d2));
  background: -moz-linear-gradient(top,  #f7f7f7,  #d2d2d2);
  background-color: #ddd;
}

#content .button img {
  vertical-align: top;
  padding-top: 7px;
  width: 12px;
  height: 12px;
}

/* Create */

#content .button.create {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e7f1e1, endColorstr=#c9e8b7);
  background: -webkit-gradient(linear, left top, left bottom, from(#e7f1e1), to(#c9e8b7));
  background: -moz-linear-gradient(top,  #e7f1e1,  #c9e8b7);
  background-color: #c9e8b7;
  color: #657b58 !important;
  border-color: #adc79d;
}

#content .button.create:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e7f1e1, endColorstr=#b3de99);
  background: -webkit-gradient(linear, left top, left bottom, from(#e7f1e1), to(#b3de99));
  background: -moz-linear-gradient(top,  #e7f1e1,  #b3de99);
  background-color: #c9e8b7;
}

/* Delete */

#content .button.delete {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8e7e5, endColorstr=#edc2bd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8e7e5), to(#edc2bd));
  background: -moz-linear-gradient(top,  #f8e7e5,  #edc2bd);
  background-color: #edc2bd;
  color: #96544c !important;
  border-color: #e8afa9;
}

#content .button.delete:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8e7e5, endColorstr=#e6ada5);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8e7e5), to(#e6ada5));
  background: -moz-linear-gradient(top,  #f8e7e5,  #e6ada5);
  background-color: #e6ada5;
}

/*
 *  2 Layout
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.wrapper {
  margin: 0 auto;
  width: 800px;
}

/*
 *  2.1 Header
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

[role="banner"] {
  background: #3b3b3b;
}

/*  Top
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

[role="banner"] .top {
  overflow: hidden;
  height: 50px;
}

[role="banner"] .title {
  float: left;
}

/* To-index */

[role="banner"] .to-index {
  margin: 10px 0;
  line-height: 30px;
  float: left;
  display: block;
  color: #999;
  text-decoration: none;
  font-size: 18px;
}

[role="banner"] .to-index em {
  color: #fff;
  font-style: normal;
}

[role="banner"] .to-index:hover {
  color: #888;
}

[role="banner"] .to-index:hover em {
  color: #ececec;
}

/* Button */

[role="banner"] .button {
  float: left;
  display: block;
  margin: 14px 0 14px 10px;
  font-size: 10px;
  padding: 6px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: #666;
  color: #eee;
}

[role="banner"] .button:hover {
  background: #5e5e5e;
}

/* User panel */

[role="banner"] .user-panel {
  float: right;
}

[role="banner"] .user-panel p {
  float: left;
  font-size: 12px;
  line-height: 50px;
  color: #999;
}

[role="banner"] .user-panel em {
  color: #ccc;
  font-style: normal;
}

/*  Navigation
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

[role="navigation"] {
  background: #69799b;
  overflow: hidden;
}

[role="navigation"] li {
  float: left;
  display: block;
}

[role="navigation"] a {
  font-size: 11px;
  display: block;
  line-height: 38px;
  text-transform: uppercase;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

[role="navigation"] a:hover {
  background: #7787a6;
}

[role="navigation"] .selected a {
  background: #eee;
  color: #555;
}

[role="navigation"] small {
  color: #fff;
  background-color: #a6b0c4;
  font-style: normal;
  display: inline-block;
  padding: 2px 5px;
  margin-left: 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  line-height: 14px;
}

[role="navigation"] .selected small {
  background-color: #a6b0c4;
}

/*  Subnavigation
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.subnavigation {
  background: #eee;
  overflow: hidden;
  min-height: 5px;
}

.subnavigation li {
  float: left;
  display: block;
}

.subnavigation a {
  font-size: 12px;
  display: block;
  line-height: 34px;
  padding: 0 10px;
  color: #666;
  text-decoration: none;
}

.subnavigation a:hover {
  color: #333;
}

.subnavigation .selected a {
  color: #aaa;
}

/*
 *  2.2 Content
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#content {
  margin-top: 40px;
}

#content > * {
  margin-top: 30px;
}

#content > :first-child {
  margin-top: 0;
}

/*  Header
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#content > header {
  overflow: hidden;
}

#content > header h2 {
  font-size: 21px;
  font-weight: bold;
  color: #444;
  float: left;
  line-height: 28px;
}

#content > header li {
  display: inline-block;
  font-size: 11px;
}

#content > header .actions {
  float: right;
  margin-left: 10px;
}

/* Filters */

#content > header .filters {
  float: right;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: #f0f0f0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, .1);
}

#content > header .filters a {
  display: inline-block;
  text-decoration: none;
  line-height: 26px;
  color: #aaa;
  padding: 0 11px;
}

#content > header .filters a:hover {
  color: #999;
}

/*
 *  2.2.1 Listing
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.listing > ul {
  border-bottom: 1px solid #eee;
}

.listing .element {
  overflow: hidden;
  padding: 15px 10px;
  border-top: 1px solid #eee;
  display: block;
  -moz-transition: background .15s linear;
  -webkit-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
}

.listing .element.odd {
  background: #fafafa;
}

.listing .element:first-child {
}

.listing .element:hover {
  background: #f9f7ec;
}

/*  Info
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.listing .info {
  float: left;
  width: 75%;
  position: relative;
}

/* Record title */

.listing .info p {
  display: inline-block;
  line-height: 20px;
  font-size: 13px;
  color: #555;
}

.listing .info p span {
  color: #999;
  font-size: 11px;
}

/* Info attributes */

.listing .info dl {
  position: absolute;
  right: 0;
  line-height: 20px;
}

.listing .info dl,
.listing .info dd {
  display: inline-block;
  margin-left: 10px;
  font-size: 10px;
  color: #aaa;
}

.listing .info dt {
  display: none;
}

.listing .info dd[title] {
  cursor: help;
}

/* Labels */

.listing .info .label {
  text-align: center;
  line-height: 13px;
  display: inline-block;
  text-transform: uppercase;
  background: #f1f1f1;
  color: #666;
  border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 4px 5px;
  font-size: 9px;
}

.listing .info .label.yellow {
  background-color: #f7f7cc;
  color: #7c7054;
}

.listing .info .label.green {
  background-color: #e7f0e2;
  color: #617654;
}

.listing .info .label.red {
  background-color: #f7e8e6;
  color: #a65a50;
}

.listing .info .label.blue {
  background-color: #e2f0f7;
  color: #53768b;
}

/* Value */

.listing .info .value {
  font-weight: bold;
  font-size: 12px;
}

.listing .info .value.green {
  color: #679a41;
}

.listing .info .value.red {
  color: #c74a38;
}

/*  Actions
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.listing .actions {
  float: right;
  width: 25%;
  text-align: right;
}

.listing .actions li {
  display: inline;
}

.listing .actions a {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .03);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .03);
  -webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, .03);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  background: #a6afc4;
  color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 5px 6px;
}

.listing .actions a:hover {
  background: #6f7b95;
}

/* External */

.listing .actions a.external {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
  color: #999;
  padding: 5px 0;
  margin: 0 6px;
}

.listing .actions a.external:after {
  content: " →";
}

.listing .actions a.external:hover {
  color: #777;
}

/*  More
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.listing .more {
  display: none;
}

.listing .selected .more {
  display: block;
}
/*  Pagination
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.pagination {
  margin-top: 37px; /* 30px margin + 7px of inline padding of page links */
  color: #aaa;
  display: block;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}

.pagination li {
  display: inline;
  margin: 0 1px;
}

.pagination .current {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .03);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .03);
  -webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, .03);
  padding: 7px 10px;
  background: #6f7b95;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.pagination li a, .pagination .disabled {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .03);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .03);
  -webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, .03);
  text-decoration: none;
  padding: 7px 10px;
  background: #eee;
  color: #666;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.pagination li a:hover {
  background: #b8becb;
  color: #fff;
}

.pagination .disabled {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: #aaa;
  background: #fff;
}

/*
 *  2.2.2 Form
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*  Main form elements
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Fields fieldset */

.form .fields {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .03);
  -webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, .03);
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 20px;
  background: #f5f5f5;
  padding: 20px;
  padding-top: 60px;
  position: relative;
}

.form .fields:first-child {
  margin-top: 0;
}

.form legend span {
  position: absolute;
  color: #999;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: bold;
}

/* Plain fields fieldset (no legend) */

.form .fields.plain {
  padding: 20px;
}

/* Buttons fieldset */

.form .buttons {
  margin-top: 20px;
}

/*  Fields
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form .field {
  overflow: hidden;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, .03);
  position: relative;
  padding-left: 130px;
}

.form .field label:first-child {
  color: #444;
  position: absolute;
  width: 120px;
  left: 0;
  font-size: 13px;
  padding-top: 6px;
}

/* First */

.form .field:first-child,
.form legend + .field {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}

/* Required */

.form .field.required label:first-child:after {
  color: #aaa;
  content: " (*)";
}

/* Invalid */

.invalid input[type=password],
.invalid input[type=text],
.invalid input[type=email],
.invalid input[type=url],
.invalid input[type=number],
.invalid textarea {
  color: #96544c;
}

/* Plain */

.form .field.plain {
  padding-left: 130px;
}

.form .field.plain label:first-child {
  color: #555;
  position: static;
  width: auto;
  font-size: 12px;
  padding-top: 0;
}

.form .field.plain.required label:first-child:after {
  content: "";
}

/*  Field elements
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form .field a {
  text-decoration: underline;
  color: #555;
}

.form .field a:hover {
  color: #777;
}

/* Input sizes */

.form .tiny {
  width: 40px;
  max-width: 40px;
}

.form .small {
  width: 100px;
  max-width: 100px;
}

.form .medium {
  width: 250px;
  max-width: 250px;
}

.form .normal {
  width: 425px;
  max-width: 425px;
}

.form .big {
  width: 620px;
  max-width: 620px;
}

/* Block */

.form .block {
  margin-top: 5px;
  display: block;
}

.form .field .block:first-child,
.form .field label:first-child + .block {
  margin-top: 0;
}

/* Label */

.form .field label:first-child ~ label {
  color: #555;
}

/* Hint & Error */

.form .hint,
.form .error {
  line-height: 1.4;
  font-size: 11px;
}

.form .hint {
  color: #888;
}

.form .error {
  color: #c28881;
}


/*  Buttons
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form .buttons {
  overflow: hidden;
}

.form .buttons .left {
  float: left;
  margin-right: 5px;
}

.form .buttons .right {
  float: right;
  margin-left: 5px;
}

/*
 *  2.3 Footer
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

[role="contentinfo"] {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #bbb;
  line-height: 1.4;
  text-align: center;
}

[role="contentinfo"] a {
  color: #888;
}

[role="contentinfo"] a:hover {
  color: #777;
}
